#root {
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
  box-sizing: border-box;
  padding: 80px;
}

.header {
  text-align: center;
}

.add-database {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.btn-hidden {
  opacity: 0;
}

.add-database:hover {
  opacity: 1;
}
